@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 20px 10px;
}

h2,
h3 {
  line-height: 40px;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

a {
  background-color: transparent;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: block;
}

/* Chrome、Safari */
summary::-webkit-details-marker {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  color: inherit;
}

@media screen and (min-width: 480px) {
  h2,
  h3 {
    line-height: 40px;
  }
  html {
    font-size: 10px;
  }
  body {
    color: #333333;
    line-height: 1.6;
    letter-spacing: 1.5px;
  }
  p {
    margin: 0 0 10px;
  }
  details {
    cursor: pointer;
  }
  .flex, .main-v, .icon, .section__qa .question .qaicon, .section__about2 .box, .section__about3 .box, .section__qa .answer, .section__qa .answer .message .container .item, .section__message .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .txtl {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .txts {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .txtxs {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0;
  }
  .txtm, .section__faq .detailsbox details {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .wrap {
    position: absolute;
    width: 100%;
    overflow: hidden;
  }
  .header {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    width: 100%;
  }
  .header__title {
    position: relative;
    padding: 0;
    height: 62px;
    max-width: 100%;
  }
  .header__subtitle {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0px;
  }
  .header__logo {
    position: absolute;
    top: 25px;
    left: 10px;
    margin-top: 0;
  }
  .header__logo img {
    width: 90px;
  }
  .header__contact {
    display: block;
    text-align: center;
    position: absolute;
    right: 0px;
    top: 0;
    padding: 9px 11px;
    background-color: #da6b64;
  }
  .header__contact img {
    display: block;
    width: 20px;
    margin: auto;
  }
  .header__contact a {
    font-size: 1.2rem;
    display: block;
    color: white;
    text-decoration: none;
  }
  .main-v {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 312px;
    background-image: url(/images/mainsp.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  .main-v .mainlogo {
    max-width: 317px;
    width: 90%;
    margin: 20px;
  }
  .main-v h1 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .main-v .txtl {
    margin: 0;
  }
  .main-v .txtm, .main-v .section__faq .detailsbox details, .section__faq .detailsbox .main-v details {
    line-height: 1;
  }
}

.btn {
  position: relative;
  font-size: 2rem;
  padding: 15px 20px;
  margin: 25px 20px 10px 20px;
  background-color: #da6b64;
  border-radius: 50px;
}

.btn a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  letter-spacing: normal;
  color: white;
  text-decoration: none;
}

.sns {
  margin-bottom: 10px;
}

.sns__btn {
  display: inline-block;
  font-size: 11px;
  border-radius: 3px;
  padding: 5px;
}

.sns__btn a {
  color: white;
  text-decoration: none;
}

.sns__btn i {
  display: inline-block;
  margin-right: 5px;
  color: white;
}

.sns__btn.twitter {
  background-color: #1B95E0;
}

.sns__btn.fb {
  background-color: #1877F2;
}

.yellowbracketswide {
  margin: 0 auto;
  position: relative;
  width: 95%;
  max-width: calc(100% - 10px);
  padding: 5px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.yellowbracketswide h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.yellowbracketswide::before {
  top: 0;
  left: 0;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.yellowbracketswide::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.whitebracketswide {
  margin: 0 auto;
  position: relative;
  width: 95%;
  max-width: calc(100% - 10px);
  padding: 5px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.whitebracketswide h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.whitebracketswide::before {
  top: 0;
  left: 0;
  border-top: 4px solid white;
  border-left: 4px solid white;
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.whitebracketswide::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.yellowtxt {
  color: #ebb94d;
}

.icon, .section__qa .question .qaicon {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 0px;
}

.circle, .section__special .specialbox .box .item__left p {
  color: #ebb94d;
  background-color: #fff;
  padding: 0;
  margin: 0;
  width: 60px;
  height: 60px;
  font-size: 12px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}

.section__zero {
  color: white;
  background-color: #ebb94d;
  text-align: center;
  padding: 15px 0;
  font-weight: 600;
}

.section__zero .txtxs {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0;
}

.section__zero .txtxs p {
  margin: 10px;
}

.section__zero .tyuusyaku {
  background-color: #F9F2F4;
  display: inline-block;
  border-radius: 3px;
  padding: 2px 4px;
  color: #C7254E;
  font-size: 1.4rem;
}

.section__intro {
  padding: 30px 0;
  height: inherit;
  background-image: url(/images/introbottom.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  text-align: center;
}

.section__intro .contents {
  padding: 25px 0;
  letter-spacing: normal;
}

.section__intro .contents p {
  font-weight: 300;
  margin-bottom: 30px;
}

.section__intro .contents p span {
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #ebb94d));
  background: -webkit-linear-gradient(transparent 70%, #ebb94d 70%);
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}

.section__about1 {
  background-color: #FEF5E0;
  padding-bottom: 40px;
  text-align: center;
}

.section__about1 .abouttitle .circle, .section__about1 .abouttitle .section__special .specialbox .box .item__left p, .section__special .specialbox .box .item__left .section__about1 .abouttitle p {
  background-color: #ebb94d;
  color: white;
}

.section__about1 .abouttitle p {
  margin-top: 15px;
  margin-bottom: 10px;
}

.section__about1 .box {
  padding: 10px;
  margin: 30px 20px;
  background-color: white;
  border: 2px solid #ebb94d;
}

.section__about1 .box img {
  height: 30px;
}

.section__about1 .box .item {
  display: inline-block;
  padding: 10px;
}

.section__about1 .box .item .txts {
  font-size: 1rem;
  font-weight: 300;
  margin: 10px 0;
}

.section__about2 {
  color: white;
  text-align: center;
}

.section__about2 .bg {
  padding: 30px;
  background-image: url(/images/aboutsecondbgsp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section__about2 h2 {
  margin: 20px 0;
  line-height: 1;
}

.section__about2 .txtm, .section__about2 .section__faq .detailsbox details, .section__faq .detailsbox .section__about2 details {
  font-size: 1.3rem;
}

.section__about2 .box {
  margin: 0 -15px;
}

.section__about2 .box .container {
  padding: 0 15px;
  margin-top: 30px;
}

.section__about2 .box .item {
  padding: 15px 50px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 5px;
}

.section__about2 .box .item .txts {
  color: black;
}

.section__about2 .box .item .step {
  border-radius: 5px;
  color: white;
  background-color: #ebb94d;
}

.section__about2 .abouttxt {
  padding: 20px 0;
  background-color: #016ea9;
}

.section__about3 {
  text-align: center;
}

.section__about3 h2 {
  margin-top: 20px;
  margin-bottom: 35px;
}

.section__about3 .txtm, .section__about3 .section__faq .detailsbox details, .section__faq .detailsbox .section__about3 details {
  font-weight: normal;
}

.section__about3 .box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -15px;
}

.section__about3 .box .item {
  padding: 5px;
  -webkit-flex-basis: 100px;
      -ms-flex-preferred-size: 100px;
          flex-basis: 100px;
}

.section__learn {
  padding: 30px 0;
  background-color: #FEF5E0;
}

.section__learn h2 {
  text-align: center;
}

.section__learn h2 .txtm, .section__learn h2 .section__faq .detailsbox details, .section__faq .detailsbox .section__learn h2 details {
  margin: 15px auto -15px;
  line-height: 1.4;
  display: inline-block;
}

.section__learn .container .merit {
  padding: 0 15px;
  margin-top: 20px;
}

.section__learn .container .merit .bg-img {
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section__learn .container .merit .bg-img.freelance {
  background-image: url(/images/learnfromfreelancer.jpg);
}

.section__learn .container .merit .bg-img.learn {
  background-image: url(/images/learnfromprojects.jpg);
}

.section__learn .container .merit .bg-img.zerocost {
  background-image: url(/images/actuallyfree.jpg);
}

.section__learn .container .merit .yellowtxt {
  margin-top: 10px;
  margin-bottom: 8px;
  text-align: center;
}

.section__learn .container .merit .txts {
  font-weight: normal;
}

.section__learn .container .merit .learndetail {
  padding: 0 20px;
}

.section__learn .support {
  padding: 10px;
  margin: 15px 20px;
  background-color: white;
  border: 2px solid #ebb94d;
  border-radius: 5px;
  text-align: center;
}

.section__learn .support .txts {
  font-size: 1rem;
  letter-spacing: 0;
}

.section__learn .txtxs {
  text-align: center;
  padding: 0 10px;
}

.section__member {
  padding: 20px 0;
  background-image: url(/images/teacherbgsp.jpg);
  background-size: cover;
  color: white;
}

.section__member h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section__member .txts {
  text-align: center;
}

.section__member .container {
  padding: 0 10px;
}

.section__member .container .item {
  text-align: center;
  font-weight: normal;
}

.section__member .container .item img {
  position: relative;
  width: 120px;
  top: 35px;
  border-radius: 50%;
}

.section__member .container .item .detail {
  padding: 40px 10px 10px 10px;
  border: 3px solid white;
}

.section__member .container .item .txtleft {
  text-align: left;
}

.section__member .container .item .txtm, .section__member .container .item .section__faq .detailsbox details, .section__faq .detailsbox .section__member .container .item details,
.section__member .container .item .txts {
  font-weight: 300;
}

.section__member .container .item .txtm, .section__member .container .item .section__faq .detailsbox details, .section__faq .detailsbox .section__member .container .item details {
  font-size: 1.2rem;
}

.section__qa .question {
  position: relative;
  text-align: center;
  color: white;
  background-color: #ebb94d;
  padding: 20px 0;
}

.section__qa .question:after {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  border: 15px solid transparent;
  border-top-color: #ebb94d;
  top: 100%;
  left: 50%;
  margin-left: -15px;
}

.section__qa .question h2 {
  margin: 0 10px;
  font-size: 1.4rem;
}

.section__qa .question .qaicon {
  padding: 10px;
  margin: 0 0 10px;
}

.section__qa .question .qaicon .circle, .section__qa .question .qaicon .section__special .specialbox .box .item__left p, .section__special .specialbox .box .item__left .section__qa .question .qaicon p {
  color: #ebb94d;
  background-color: white;
}

.section__qa .answer {
  padding: 20px 0;
  text-align: center;
}

.section__qa .answer .message {
  padding: 0 15px;
  margin: 0 auto;
}

.section__qa .answer .message .container {
  margin: 0 -15px;
}

.section__qa .answer .message .container .item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  margin: 0 10px;
  text-align: left;
}

.section__qa .answer .message .container .item__img {
  background-color: #fff;
  padding-right: 15px;
  -webkit-flex-basis: calc(100% - 20px);
      -ms-flex-preferred-size: calc(100% - 20px);
          flex-basis: calc(100% - 20px);
  -webkit-flex-shrink: 2;
      -ms-flex-negative: 2;
          flex-shrink: 2;
}

.section__qa .answer .message .container .item__img img {
  border: solid;
  border-color: #ebb94d;
}

.section__qa .answer .message .container .item__txt {
  -webkit-flex-basis: calc(100% - 20px);
      -ms-flex-preferred-size: calc(100% - 20px);
          flex-basis: calc(100% - 20px);
  color: #777777;
  font-weight: 400;
}

.section__qa .answer .message .container .item__txt p {
  font-size: 1.8rem;
}

.section__qa .answer .message .container .item__txt small {
  margin-top: 8px;
  text-decoration: underline;
  font-size: 1.5rem;
}

.section__lecture {
  padding: 20px 0;
  background-image: url(/images/classbgsp.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.section__lecture h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.section__lecture .container {
  padding: 20px 10px;
}

.section__lecture .container__wrap {
  border: 2px solid #016ea9;
  border-radius: 5px;
  background-color: white;
}

.section__lecture .container__wrap:last-child {
  margin-top: 15px;
}

.section__lecture .container .txtm, .section__lecture .container .section__faq .detailsbox details, .section__faq .detailsbox .section__lecture .container details {
  padding: 15px;
  background-color: #016ea9;
}

.section__lecture .container ul {
  background-color: white;
  color: black;
  font-size: 1.2rem;
}

.section__lecture .container ul li {
  padding: 10px;
  border-bottom: 1px dotted #e5e5e5;
}

.section__point {
  padding: 20px 0;
  text-align: center;
  color: white;
  background-color: #016ea9;
}

.section__point .txtm, .section__point .section__faq .detailsbox details, .section__faq .detailsbox .section__point details {
  margin: 0;
}

.section__method {
  padding: 20px 0;
}

.section__method h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.section__method .detailsp {
  padding: 20px 15px;
  margin-bottom: 20px;
}

.section__method .detailsp details {
  position: relative;
  background-color: #FEF5E0;
  padding: 10px 15px;
  margin-bottom: 3px;
}

.section__method .detailsp details::after {
  position: absolute;
  right: 10px;
  top: 20px;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section__method .detailsp details[open]::after {
  border: 0;
  border-top: 4px solid black;
  border-left: 4px solid black;
}

.section__method .detailsp details summary {
  outline: none;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
}

.section__method .detailsp details summary img {
  width: 35px;
  margin-right: 15px;
}

.section__method .detailsp details summary:hover {
  text-decoration: underline;
}

.section__why {
  padding: 20px 15px;
  background-image: url(/images/bangkokbgsp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section__why h2 {
  font-size: 2.4rem;
  text-align: center;
}

.section__why .inner {
  padding: 0 20px;
  color: white;
}

.section__why .txtxs {
  letter-spacing: normal;
  font-weight: 400;
}

.section__why ul {
  list-style: inside;
  margin: 20px 0;
}

.section__special {
  padding: 20px 0;
  background-color: #F7C23C;
  text-align: center;
}

.section__special h2 {
  margin: 0;
  margin-bottom: 10px;
}

.section__special .txts span {
  color: white;
}

.section__special .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: 40px;
  padding: 0 10px;
  background-color: #F7C23C;
  margin: 0 auto;
}

.section__special .specialbox {
  padding: 30px;
  margin: 0 15px;
  border: 2px solid white;
}

.section__special .specialbox .box {
  color: white;
}

.section__special .specialbox .box .item {
  display: table;
  text-align: left;
  margin: 15px 0;
}

.section__special .specialbox .box .item__left {
  display: table-cell;
}

.section__special .specialbox .box .item__right {
  display: table-cell;
  vertical-align: middle;
  padding: 12px 0;
}

.section__special .specialbox .box .item__right p {
  margin: 0;
}

.section__borantea {
  padding: 20px 10px;
  background-image: url(/images/specialdetailsp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

.section__borantea h2 {
  margin: 20px 0;
}

.section__borantea h2:first-child {
  line-height: normal;
}

.section__borantea .txts {
  margin-bottom: 40px;
}

.section__message {
  padding: 20px 0;
  text-align: center;
}

.section__message h2 {
  margin-top: 20px;
  margin-bottom: 35px;
}

.section__message .container__inner {
  margin: 0 10px 15px 10px;
}

.section__message .container__img {
  width: 100%;
  padding: 5px;
}

.section__message .container__txt {
  padding: 5px;
  font-size: 1.4rem;
  text-align: left;
}

.section__message .container__txt ul {
  margin-bottom: 10px;
}

.section__contact {
  padding: 20px 15px;
  background-color: #ebb94d;
  text-align: center;
}

.section__contact .submitbtn {
  width: 100%;
  background-color: #da6b64;
  font-size: 2.3rem;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  border: none;
}

.section__contact form input,
.section__contact form textarea {
  font-size: 1.4rem;
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border: none;
  border-radius: 5px;
}

.section__contact form input {
  height: 55px;
}

.section__contact form textarea {
  height: 100px;
}

.section__faq {
  padding: 20px 15px;
}

.section__faq h2 {
  text-align: center;
}

.section__faq .detailsbox {
  margin-bottom: 20px;
}

.section__faq .detailsbox details {
  position: relative;
  padding: 10px;
  margin-top: 5px;
  color: black;
  border: 1px solid #E5E5E5;
}

.section__faq .detailsbox details:hover {
  text-decoration: underline;
}

.section__faq .detailsbox details::after {
  position: absolute;
  top: calc(50% - 6px);
  right: 15px;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-color: #E5E5E5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section__faq .detailsbox details[open]::after {
  border: 0;
  border-top: 4px solid;
  border-left: 4px solid;
  border-color: #E5E5E5;
}

.section__faq .detailsbox summary {
  line-height: 17px;
  margin-right: 3px;
  outline: none;
}

.section__faq .detailsbox summary i {
  color: #3A93CA;
}

.section__faq .detailsbox summary::-moz-selection {
  background-color: transparent;
}

.section__faq .detailsbox summary::selection {
  background-color: transparent;
}

.footer {
  text-align: center;
  padding: 20px 15px 0 0;
  background-color: #ECECEC;
}

.footer .copyright {
  margin: 0;
  padding-bottom: 5px;
}

.footer .sns__btn {
  height: 20px;
  padding: 1px 8px 1px 6px;
  font-weight: 500;
  cursor: pointer;
}
