@charset "UTF-8";
@media screen and (min-width: 320px) {
  * {
    margin: 0;
    padding: 0;
  }

  .wrap {
    z-index: 0;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    z-index: 3;
    text-align: center;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #d3bd9fe1;
    
    &__nav {
      margin-top: 100px;
      list-style: none;
      color: black;
    }
    &__li {
      & a {
        font-size: 4em;
      }
    }

    &__btn {
      margin-top: 15px;
      margin-right: 20px;
      top: 0;
      right: 0;
      width:200px;
      height:400px;
      z-index: 100;
      background-color: aqua;
      padding: 15px;
      border: 1px solid black;
      border-radius: 10px;
      outline: none !important;
      cursor: pointer;
      transition: 0.7s; //transitionで変形変化の時間を設定
      overflow: hidden;
      backface-visibility: hidden;
      & > span {
        background-color: black;
        width: 40px;
        height: 2px;
        display: block;
        margin-bottom: 9px;
        transition: transform 0.7s;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .menu-open {
    & .mobile-menu {
      display: block;
      position: fixed;
      animation: fadeIn 0.7s ease-in-out;
      &__btn {
        position: sticky;
        border-radius: 50%;
        background-color: rgb(240, 175, 25);
        transform: scale(1.2);
        & > span {
          &:nth-child(1) {
            transition-delay: 70ms;
            transform: translateY(11px) rotate(135deg);
          }

          &:nth-child(2) {
            transition-delay: 0s;
            transform: translateX(-18px) scaleX(0);
          }

          &:nth-child(3) {
            transition-delay: 140ms;
            transform: translateY(-11px) rotate(-135deg);
          }
        }
      }
    }
  }

  body {
    position: absolute;
    width: 100%;
    background-color: #f6f6f6;
    font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic,
      "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo,
      Osaka, "ＭＳ Ｐゴシック", "MS PGothic", serif;
    font-size: 14px;
  }
  .wrap {
    overflow: hidden;
  }
  a {
    text-decoration: none;
  }
  iframe {
    width: 100%;
  }
  blockquote {
    position: relative;
    padding: 30px 15px 8px 15px;

    box-sizing: border-box;
    font-style: italic;
    background: #efefef;
    color: #555;
  }
  blockquote:before {
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 15px;
    content: "\f10d";
    font-family: FontAwesome;
    color: #cfcfcf;
    font-size: 28px;
    line-height: 1;
    font-weight: 900;
  }
  blockquote p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.7;
  }
  blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
  }
  blockquote {
    position: relative;

    box-sizing: border-box;
    font-style: italic;
    background: #efefef;
    color: #555;
  }
  blockquote:before {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 3px;
    content: "“";
    font-family: sans-serif;
    color: #cfcfcf;
    font-size: 90px;
    line-height: 1;
  }
  blockquote p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.7;
  }
  blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
  }
  .content-width,
  .header__inner,
  .footer__inner {
    margin: 0 auto;
  }
  .content {
    margin: 30px auto;
    padding: 10px;
    background-color: white;
  }
  .header {
    background-color: darkred;
    margin-bottom: 30px;
    color: white;
    width: 100%;
  }
  .header__inner {
    display: flex;
    padding: 10px;
    flex-direction: column;
  }
  .header__logo {
    margin: 10px auto;
    background-color: #5b6dcd;
    font-size: 15px;
    width: 250px;
    border-radius: 40px;
    color: white;
    text-align: center;
    font-family: "Yusei Magic", sans-serif;
  }
  .header__nav {
    display: none;
    width: auto;
    margin: 0 30px 10px auto;
    align-self: flex-end;
  }
  .header__ul {
    display: flex;

    flex-direction: column;
    list-style: none;
  }
  .header__li {
    
    background-color: #d3bd9f;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 14px;
    border-right: 1px solid #e3e3e3;
    
    text-align: center;
    align-items: center;
  }
  .header__li a {
    display: inline-block;
    width: 100%;
  }
  p {
    font-size: 13px;
  }
  .header a {
    color: inherit;
  }
  .header__li:hover {
    background-color: black;
  }
  .header__li:hover a {
    color: white;
  }
  .header__li:first-child {
    border-radius: 5px 0 0 5px;
  }
  .header__li:last-child {
    border: none;
    border-radius: 0 5px 5px 0;
  }
  .header__li a {
    color: black;
    text-decoration: none;
  }
  .header__li a:hover {
    color: white;
    background-color: black;
  }
  .main-v {
    text-align: center;
  }
  .main-v img {
    width: 100%;

    object-fit: cover;

    object-position: center;
  }
  .section {
    margin-bottom: 30px;
    &__txt {
      margin: 15px 0;
    }
    &__title {
      margin-bottom: 10px;
      border-bottom: 1px solid #e3e3e3;
    }
    &__img {
      width: 100%;
      margin: 20px auto;
      text-align: center;
      & img {
        width: 100%;

        object-fit: cover;

        object-position: center;
      }
      & span {
        display: inline-block;
      }
      & .hosoku {
        margin: 0;
        color: #7f7979;
      }
    }
  }

  .footer {
    margin-top: 30px;
    width: 100vw;
    background-color: darkred;
    color: white;
  }
  .footer__inner {
    text-align: center;
  }
  .footer__ul {
    list-style: none;
  }
  .footer .sns {
    font-size: 30px;
  }
  .footer a {
    color: white;
  }
}

